version: "3"
services:
  mysql:
    image: mysql
    ports:
      - "3306:3306"
    expose:
      - 3306
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: ratel
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    volumes:
      - "./mysql/my.cnf:/etc/mysql/my.cnf"
      - "./mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d"
  app:
    build: .
    ports:
      - "80:80"
    depends_on:
      - mysql
    links:
      - mysql
