<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soundcloud track</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
<h1>Soundcloud track</h1>

<figure>
    <figcaption>2010年末時点の日本酒ランキング</figcaption>
    <ol>
        <li value="5">醸し人九平次(萬乗醸造@愛知県)</li>
        <li value="4">田酒(西田酒造店@青森県)</li>
        <li value="3">黒龍(黒龍酒造@福井県)</li>
        <li value="2">十四代(高木酒造@山形県)</li>
        <li value="1">獺祭(旭酒造@山口県)</li>
    </ol>
</figure>

</body>
</html>