{{define "track-update"}}
<form action="/tracks/{{if .Track}}{{.Track.TrackId}}{{end}}" method="post">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">項目</th>
                <th scope="col">更新後のデータ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Track id</th>
                <td>{{if .Track}}{{.Track.TrackId}}{{end}}</td>
            </tr>
            <tr>
                <th scope="row">曲コード</th>
                <td>
                    <input type="text"
                        name="name"
                        {{if .Track}} value="{{.Track.Name}}"
                        {{else}} placeholder="blog_xxx"
                        {{end}}
                    /></td>
            </tr>
            {{/*<tr>*/}}
                {{/*<th scope="row">タイトル</th>*/}}
                {{/*<td><input type="text" name="title" value="{{if .Track}}{{.Track.Title}}"></td>*/}}
            {{/*</tr>*/}}
            {{/*<tr>*/}}
                {{/*<th scope="row">作者</th>*/}}
                {{/*<td><input type="text" name="author" value="{{.Track.Author}}"></td>*/}}
            {{/*</tr>*/}}
            {{/*<tr>*/}}
                {{/*<th scope="row">表示時間</th>*/}}
                {{/*<td><input type="datetime-local" name="display-at" value="{{.Track.DisplayAt.Format "2006-01-02T15:04"}}"></td>*/}}
            {{/*</tr>*/}}
            {{/*<tr>*/}}
                {{/*<th scope="row">説明</th>*/}}
                {{/*<td><textarea name="description" placeholder="{{.Track.Description}}" rows="3"></textarea></td>*/}}
            {{/*</tr>*/}}
        </tbody>
    </table>
    <input type="submit" value="更新">
</form>
{{end}}