{{define "body"}}

<h1>Soundcloud track</h1>
<h2>新規登録</h2>
<form action="/tracks/" method="post">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">項目</th>
            <th scope="col">更新後のデータ</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Track id</th>
            <td><input type="text" name="track-id"></td>
        </tr>
        <tr>
            <th scope="row">曲コード</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th scope="row">タイトル</th>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <th scope="row">作者</th>
            <td><input type="text" name="author"></td>
        </tr>
        <tr>
            <th scope="row">表示時間</th>
            <td><input type="datetime-local" name="display-at"></td>
        </tr>
        <tr>
            <th scope="row">説明</th>
            <td><textarea name="description" rows="3"></textarea></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="作成">
</form>

<h2>トラック一覧</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Track id</th>
        <th scope="col">曲コード</th>
        <th scope="col">タイトル</th>
        <th scope="col">作者</th>
        <th scope="col">表示時間</th>
        <th scope="col">説明</th>
        <th scope="col">削除</th>
    </tr>
    </thead>
    <tbody>
{{range $t := .Tracks}}
    <tr>
        <th scope="row">1</th>
        <td><a href="/tracks/{{$t.TrackId}}">{{$t.TrackId}}</a></td>
        <td>{{$t.Name}}</td>
        <td>{{$t.Title}}</td>
        <td>{{$t.Author}}</td>
        <td>{{$t.DisplayAt.Format "01/02"}}</td>
        <td>{{$t.Description}}</td>
        <td>{{if $t.DeletedAt.Valid}}削除済み{{end}}</td>
    </tr>
{{end}}
    </tbody>
</table>
{{end}}