{{define "body"}}
<a href="/tracks/">トラック一覧</a>
<h1>Soundcloud track</h1>
<form action="/tracks/{{.Track.TrackId}}" method="post">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">項目</th>
                <th scope="col">更新後のデータ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Track id</th>
                <td><input type="text" name="track-id" value="{{.Track.TrackId}}"></td>
            </tr>
            <tr>
                <th scope="row">曲コード</th>
                <td><input type="text" name="name" value="{{.Track.Name}}"></td>
            </tr>
            <tr>
                <th scope="row">タイトル</th>
                <td><input type="text" name="title" value="{{.Track.Title}}"></td>
            </tr>
            <tr>
                <th scope="row">作者</th>
                <td><input type="text" name="author" value="{{.Track.Author}}"></td>
            </tr>
            <tr>
                <th scope="row">表示時間</th>
                <td><input type="datetime-local" name="display-at" value="{{.Track.DisplayAt.Format "2006-01-02T15:04"}}"></td>
            </tr>
            <tr>
                <th scope="row">説明</th>
                <td><textarea name="description" value="{{.Track.Description}}" rows="3"></textarea></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="更新">
</form>
{{end}}